* {
	font-family: Verdana; 
	}  
h1 { color: grey;} h2{color:grey;} 

table{
	font: 12px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
}

body {
        background-color: #fff;
	    color: #000;
    	font: 12px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;    
        }

		 
			
			A:visited {color: #595989;} 
			A:link {color: #595989;} 
			
			
			
			.img-wrapper {
			  background: url(/images/shadow.gif) no-repeat bottom right;
			  /*float:left;*/
			  line-height:0;
			  
			}
			 
			.img-wrapper div {
			  background:#fff;
			  padding:4px;
			  border:1px solid #a9a9a9;
			  position:relative;
			  left:-5px;
			  top:-5px;
			}
			
		    img{
			    border : 0;
			 	   
		    }  