
#c5t_body {
   padding-left: 20px;
}

#c5t_body a:link,
#c5t_body a:visited,
#c5t_body a:active {
    text-decoration:none;
    color:#74A0FF;
}


#c5t_body a:hover {
    color:#74A0FF;
    text-decoration:underline;
}
#c5t_bodycontent{
   
}
.c5t_system {
    padding:10px;
    width:0px;
    margin-bottom:10px;
    border:1px solid #FF0000;
    background-color:#FFF8F8;
}

.c5t_debug {
    padding:10px;
    margin-bottom:10px;
    border:1px solid #0070C0;
    background-color:#ECF0FF;
width:0px;
}


.c5t_comment_form_background {
}

.c5t_comment_form_table {
    
}

.c5t_comment_form_field input
{
	 width:300px;
   

}
.c5t_comment_form_field select,
.c5t_comment_form_field textarea {
   width:100%;
}



.c5t_comment_form_label {
    width:25%;
    font-weight:bold;
}

.c5t_comment_form_labeltwo
{
    width:25%;
	text-align: right; 
    font-weight:bold;  
    padding-right:25px;
}



.c5t_comment_list {
 margin-left:25px;
 
}



.c5t_comment_item_background {
	margin-top:20px;
    margin-bottom:20px;
    padding:20px;

    background-color:#FFF;
    border:1px solid #cccccc;
}

.c5t_comment_item {
    
}

.c5t_comment_item_details {
   
}

.c5t_comment_item_text {
   
}



.c5t_comment_form_submit input {
    
}

.c5t_headline {
    font-size:110%;
}

.c5t_comment_item_title {
	
    border-bottom:1px solid #aaaaaa;
    
}


.c5t_error_message {
	color:#FF5F00;
}

.c5t_error_message_item {
	padding-bottom:10px;
}



.c5t_installation_form {
	margin-bottom:30px;
}

.c5t_installation_form legend {
	font-weight:bold;
}

.c5t_installation_form_label {
	font-weight:bold;
	width:60px;
}

.c5t_frontend_pagination {
	margin:15px 0px 15px 25px;
    
}

.c5t_frontend_pagination a {
	border:1px solid #cccccc;
	padding:3px 10px;
	text-decoration:none;
	font-size:90%;
	font-weight:bold;
	color:#0000ff;
}

.c5t_frontend_pagination span {
	border:1px solid #cccccc;
	padding:3px 10px;
	text-decoration:none;
	font-size:90%;
	font-weight:bold;
}

.c5t_frontend_pagination form {
	display:inline;
}
.c5t_frontend_pagination input {
	cursor:pointer;
	border:1px solid #cccccc;
	padding:2px 10px;
	text-decoration:none;
	font-size:90%;
	font-weight:bold;
	color:#0000ff;
	background-color:#FFFFFF;
}


.c5t_link_button {
	margin:15px 0 35px 0;
}

.c5t_link_button a {
	border:1px solid #cccccc;
	padding:3px 10px;
	text-decoration:none;
	font-size:90%;
	font-weight:bold;
}

.c5t_link_button a:hover {
	border:1px solid #cccccc;
	padding:3px 10px;
	text-decoration:none;
	font-size:90%;
	font-weight:bold;
	color:#6898FF;
	background-color:#F4F9FF;
}

input[type="submit"] {
    background-image:url(./image/button_background_large.gif);
    border:1px outset #8F8F8F;
    color:#000000;
	font-size:90%;
    text-decoration:none;
    padding:2px 4px;
}

input[type="submit"]:hover {
        border:1px inset #0000BF;
}

.c5t_link_submit_button a:link,
.c5t_link_submit_button a:visited {
    background-image:url(./image/button_background_large.gif);
    border:1px outset #8F8F8F;
    color:#000000;
	font-size:90%;
    text-decoration:none;
    padding:3px 5px;
}

.c5t_link_submit_button a:hover,
.c5t_link_submit_button a:active {
    border:1px inset #0000BF;
}




#c5t_language_selector {
    font-size:70%;
    line-height:140%;
    text-align:right;
    margin-bottom:25px;
}

#c5t_language_selector a {
    margin-left:5px;
}
