body
{
	background-color:#000c17;
	margin:0px;
}

.sepdiv
{
	height:6px;
	background-image:url('pic/tbb.bmp');
}

.tabTB
{
	height:6px;
	background-image:url('pic/tbb.bmp');
}

.tabLR
{
	width:6px;
	background-image:url('pic/lrb.bmp');
}

.iTB
{
	height:4px;
	background-image:url('pic/itb.bmp');
}

.iLR
{
	width:4px;
	background-image:url('pic/ilr.bmp');
}

.text
{
	color:#FFFFFF;
	font-size:80%;
	font-family:Arial;
	background-color:#002B51;
	padding:5px;
}

.text a
{
	color:#FFFF5E;
	text-decoration:none;
}

.text a:hover
{
	text-decoration:underline;
}

.lmenu
{
	color:#FFFFFF;
	font-size:80%;
	font-family:Arial;
	background-color:#002B51;
	padding:5px;
}

.lmenu a
{
	font-weight:bold;
	font-size:110	%;
	color:#F0F0F0;
	text-decoration:none;
}

.lmenu a:hover
{
	color: #00ffff;
}

.blueheader
{
	background-color:#004E9B;
	font-family: Arial Black;
	font-size: 135%;
	color: #E9E9E9;
	width: 100%;
	text-align:center;
	margin:5px 0px;
}

.bluesep
{
	width:100%;
	margin:10px 0px 10px 0px;
	border-top: 2px solid #6fa6d7;
}

.comboBox
{
	width:90%;
	background-color:#00356a;
	color:white;
	margin:-8px 0px 0px 0px;
	font: 11px Arial, Verdana;
	border: 1px solid #111111;
}

.inputT
{
	font-family:Arial;
	background-color:#00356a;
	color:white;
	border: 1px solid #111111;
}

.inputB
{
	background-color:#00356a;
	color:white;
	border:1px solid #111111;
	font-weight:bold;
}

.inputB:hover
{
	background-color:#6c6cff;
	color:#1b1b1b;
}

.inputEdit
{
	background-color:#00356a;
	color:white;
	border:1px solid #111111;
}

.commenttext
{
	background-color:#00356a;
	color:white;
	border:1px solid #111111;
	font-family:'Arial';
}

.formRow
{
  width:100px;
  float:left;
}

.bigText
{
	font-size:150%;
	font-weight:bold;
	margin: 10px 0px 10px 0px;
	padding: 5px 0px 5px 20px;
	background-color:#001f3e;
}

.cppcode
{
	font-family:'Courier New';
}

.donateTable
{
  border-collapse:collapse;
  border-style:solid;
  border-color:#819cef;
  border-width:3px;
  padding-top:5px;
  padding-bottom:5px;
  margin-top:5px;
  margin-bottom:5px;
}

.donateTable td
{
  border-collapse:collapse;
  border-style:solid;
  border-color:#819cef;
  border-width:3px;
  padding-top:5px;
  padding-bottom:5px;
  background-color:#dbe3fb;
  color: #000000;
}